$deepBlue:#0F044C;
$blue:#141E61;
$grey:#787A91;
$lightGrey:#EEEEEE;

@import url('https://fonts.googleapis.com/css2?family=Joan&family=Montserrat:wght@100&display=swap');

$font-joan: 'Joan', serif;
$font-montserrat: 'Montserrat', sans-serif;