@import '../../../colors.scss';

.postContainer1 {
    background-color: $lightGrey;
    .userInfo {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        color: $grey;
        .userAvatar{
            margin-top: 1.5rem;
            border-radius:3rem;
            border: solid white;
        }
    }
    .favoritePostContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .favoritePost {
            border-radius: 0.5rem;
            border: solid white;
            margin: 2rem 1rem;
        }
    }
    .userPostContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .usersPost {
            border-radius: 0.5rem;
            border: solid white;
            margin: 2rem 1rem;
        }
    }
}