@import '../../../../colors.scss';

.postContainer{
    display: flex;
    flex-wrap: wrap;
    border: solid white;
    justify-content: space-around;
    background-color: $lightGrey;
    .postCard{
        border-radius: 0.5rem;
        border: solid white;
        margin: 2rem 1rem;
    }
}   