@import '../../../../colors.scss';

.postContainer{
    display: flex;
    border: solid;
    justify-content: space-around;
    background-color: $lightGrey;
    .postCard{
        border: solid red;
        // width: auto;
        // display: flex;
        // justify-content: space-around;
    }
}   