@import '../../../colors.scss';

.searchContainer{
    display: flex;
    justify-content: center;
    background-color: $lightGrey;
    .search{
        width: 40%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
