@import '../../../colors.scss';

.register{
    background-color: $lightGrey;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .avatar-uploader{
        position: relative;
        left: 30rem;
        margin-bottom: 2rem;
    }
    .registerForm{
        width: 50%;
        position: relative;
        left: 12rem;
    }
}