@import "../../../colors.scss";


.footer{
    background-color: $grey;
    font-family: $font-joan;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    span{
        color:$lightGrey ;
    }
    a{
        color:$lightGrey ;
    }
}